.article--new {
  margin-top: 70px;
  .arrow-title-wrap {
    width: 50%;
  }
  .article__img {
    height: 26vw
  }
}
.article__title {
  font-family: $fontAccent;
  font-size: 48px;
  line-height: 0.95;
  text-transform: uppercase;
  margin-bottom: 0.8em;
}
.article__text {
  white-space: initial;
  p, span {
    white-space: pre-line;
  }
  span {
    font-size: 18px !important;
    line-height: 25px !important;
  }
  a {
    font-family: $fontBold;
    text-decoration: underline;
    transition: .2s;
    &:hover {
      color: $fontAccentColor;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 1140px) {
  .article--new {
    margin-top: 40px;
    .article__title {
      margin-bottom: 40px;
    }

  }
  .article--new .article__img {
    height: 52vw;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 900px) {
  .article__back-link {
    margin-bottom: 30px;
  }
  .article--new {
    margin-top: 30px;
  }
}
@media screen and (max-width: 600px) {
  .article--new .arrow-title-wrap {
    width: 100%;
  }
  .article--new .article__img {
    margin-bottom: 25px;
  }
  .article--new .article__title {
    margin-bottom: 20px;
  }
}
