.little-block {
  margin-top: 90px;
  padding: 0 157px;
  display: flex;
  justify-content: space-between;
  &__item {
    padding: 30px 0;
    border-top: 10px solid $fontColor;
    width: calc(100% /3 - 80px);
    display: flex;
    flex-direction: column;

    &:hover {
      .little-block__name {
        color: #fff;
      }
      .arrow {
        //transform: scaleX(.5) !important;
      }
      .little-block__arrow {
        width: 40%;
      }
    }
  }
  &__arrow {
    padding-top: 15px;
    margin-top: auto;
    width: 100%;
    transition: .3s;
    margin-left: auto;

    .arrow {
      transform: none !important;
    }
  }
  &__name {
    font-family: $fontAccent;
    font-size: 30px;
    line-height: normal;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $fontColor;
    transition: .3s;

  }
}
@media screen and (max-width: 1660px) {
  .little-block {
    margin-top: 60px;
  }
  .little-block__item {
    width: calc(100% /3 - 35px);
  }
  .little-block {
    padding: 0;
  }
}
@media screen and (max-width: 960px) {
  .little-block__item {
    width: calc(100% /3 - 23px);
  }
}
@media screen and (max-width: 740px) {
  .little-block__item {
    width: 100%;
  }
  .little-block {
    flex-direction: column;
  }
  .little-block__item {
    border-top: 5px solid $fontColor;
    margin-bottom: 10px;
    padding-top: 22px;
  }

}
@media screen and (max-width: 600px) {
  .little-block {
    margin-top: 30px;
  }
}
