@font-face{
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto/Roboto-Bold.eot');
  src: url('../fonts/Roboto/Roboto-Bold.eot?iefix') format('eot'),
  url('../fonts/Roboto/Roboto-Bold.woff') format('woff'),
  url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto/Roboto-Regular.eot');
  src: url('../fonts/Roboto/Roboto-Regular.eot?iefix') format('eot'),
  url('../fonts/Roboto/Roboto-Regular.woff') format('woff'),
  url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'LeagueGothic';
  src: url('../fonts/LeagueGothic/LeagueGothic.woff') format('woff'),
  url('../fonts/LeagueGothic/LeagueGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
