.header {
  padding: 0 $main-margins;
  transition: .3s;
  position: relative;
  &__top {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      @extend %img-cover;
    }
    video {
      width: 100%;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      height: 21vw;
      @extend %img-cover;
    }
  }
  &__bottom {
    padding-bottom: 12px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    padding-right: 175px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: -40px;
      right: -40px;
      bottom: 0;
      border-bottom: 3px solid $fontColor;
      z-index: 0;
    }
    &-logo {
      display: flex;
      margin-top: -2px;
      align-items: center;
      svg {
        width: 255px;
        fill: $fontColor;
        height: 22px;
      }
    }
    &-text {
      p {
        transition: .3s;
        display: inline-block;
        animation: scrollingText 60s linear infinite;
      }
    }
  }
  &__menu {
    &-list {
      display: flex;
      &-item {
        margin: 0 14px;
        a {
          font-family: $fontAccent;
          font-size: 20px;
          line-height: normal;
          letter-spacing: 0.08em;
          text-transform: uppercase;
          color: $fontColor;
          transition: .3s;
        }
        &:hover {
          a {
            color: $fontAccentColor;
          }
        }
      }
      &-dots {
        font-size: 52px;
        line-height: 1px;
        position: relative;
        top: -4px;
        cursor: pointer;
        outline: none;
        user-select: none;
        z-index: 1;
      }
      &-inner {
        position: relative;
        margin: 0 14px;
        transition: .3s;
        z-index: 5;
        &.inner-list-wrap--open {
          .header__menu-list-dots {
            color: $fontAccentColor;
          }
          ul {
            opacity: 1;
            pointer-events: all;
          }
        }
        ul {
          position: absolute;
          left: 0;
          top: 36px;
          width: 230px;
          background: $fontAccentColor;
          padding: 13px 30px 19px;
          box-sizing: border-box;
          transition: .3s;
          opacity: 0;
          pointer-events: none;
          &:after {
            content: '';
            z-index: 0;
            position: absolute;
            left: -50px;
            top: -50px;
            bottom: -50px;
            right: -50px;
          }
          li {
            z-index: 1;
            position: relative;
            a {
              font-family: $font;
              font-size: 16px;
              line-height: 30px;
              color: $fontColor;
              &:hover {
                opacity: .8;
              }
            }
          }
        }
      }
    }
  }
  &__social {
    display: flex;
    ul {
      display: flex;
      align-items: center;
    }
    &-item {
      margin: 0 10px;
      &:hover {
        svg {
          fill: $fontAccentColor;
        }
      }
      svg {
        fill: $fontColor;
        transition: .3s;
      }
    }
  }
  &__lang-switch {
    margin-left: 35px;
    * {
      font-family: $fontAccent;
      font-size: 20px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $fontColor;
      transition: .3s;
      &:not(span):hover {
        color: $fontAccentColor;
      }
    }
    &--current {
      color: $fontAccentColor;
    }
  }
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}
@mixin rotated-text($num-letters: 22, $angle-span: 160deg, $angle-offset: -83deg) {
  $angle-per-char: $angle-span / $num-letters;
  @for $i from 1 through $num-letters {
    .char#{$i} {
      @include transform(rotate($angle-offset + $angle-per-char * $i))
    }
  }
}

.buy-button {
  position: absolute;
  right: 60px;
  top: -76px;
  font-size: 24px;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 10;
  &:hover {
    .buy-button__center-text {
      background: $bgColor;
      color: $fontAccentColor;
    }
    .buy-button__center-text:after {
      background: $fontAccentColor;
      transition-delay: .1s;
      transition: .3s;

    }
  }
  &__circle-text {

    span {
      height: 6.2em;
      position: absolute;
      left: 0;
      top: 0;
      transform-origin: bottom center;
      font-size: .4em;
      //width: 0.7em;
    }
    &--top {
      position: absolute;
      left: 1.75em;
      top: -0.6em;
      @include rotated-text(28, 210deg, -110deg);
    }
    &--bottom {
      position: absolute;
      left: 1.75em;
      top: -0.57em;
      @include rotated-text(28, 210deg, 70deg);
    }
  }
  &__center-text {
    font-family: $fontAccent;
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
    color: $fontColor;
    width: 3.7em;
    height: 3.7em;
    border-radius: 100px;
    background: $fontAccentColor;
    display: flex;
    border: 1px solid $fontColor;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: .3s;

    &:after {
      content: '';
      width: 5.4em;
      height: 5.4em;
      border-radius: 120px;
      border: 1px solid $fontColor;
      position: absolute;
      left: -0.9em;
      top: -0.9em;
      background: $bgColor;
      z-index: -1;
      transition: .1s;

    }
  }
}
.header__bottom-text {
  padding-right: 20px;
  margin-top: 10px;
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $fontColor;
    white-space: nowrap;
  }
}

.header__mobile-menu-toggle {
  display: none;
  margin-right: 25px;
  cursor: pointer;
  &:hover {
    svg {
      fill: $fontAccentColor;
    }
  }
  svg {
    transition: .3s;
    width: 24px;
  }
}

.header-mobile-menu {
  padding: 20px 40px;
  opacity: 0;
  transition: .3s;
  pointer-events: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: $fontAccentColor;
  z-index: 1;
  &--open-icon {
    display: none !important;
    fill: $fontColor !important;
    height: 15px !important;
  }
  .header-mobile-menu__nav {
    display: flex;
    flex-wrap: wrap;
    li {
      font-family: $fontAccent;
      font-size: 25px;
      line-height: 44px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $fontColor;
      width: calc(100% / 3);
    }
  }
}
.header--mobile-open {
  background: $fontAccentColor;
  .header__lang-switch--current {
    color: $bgColor;
  }
  .header-mobile-menu {
    opacity: 1;
    pointer-events: all;
  }
  .header-mobile-menu--open-icon {
    display: block !important;
  }
  .header-mobile-menu--close-icon {
    display: none;
  }
}
.header__lang-switch--mobile {
  display: none;
}
.header-mobile-menu__social {
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 27px;
  margin-top: 16px;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    right: -10px;
    border-top: 1px solid $fontColor;
  }
  li {
    margin: 0 20px;
  }
}

@keyframes scrollingText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}
@keyframes scrollingTextMobile {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-7000px);
  }
}
@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}
.header__menu-list-item--active {
  a {
    color: $fontAccentColor;
  }
}
.header-mobile-menu--active {
  a {
    color: $bgColor;
  }
}
@media screen and (max-width: 1350px) {
  .header__menu {
    display: none;
  }
  .header__mobile-menu-toggle {
    display: block;
  }
  .header__bottom-text {
    padding-right: 150px;
  }
  .header__mobile-menu-toggle {
    display: block;
  }
}
@media screen and (max-width: 900px) {
  .buy-button {
    font-size: 16px;
    top: -59px;
  }
  .header__lang-switch {
    margin-left: 15px;
  }
  .header__mobile-menu-toggle:hover {
    svg {
      fill: $fontColor;
    }
  }
  .header__bottom {
    border-bottom: none;
    position: relative;
    padding-bottom: 8px;
    padding-right: 103px;
    &:after {
      border-bottom: 1px solid $fontColor;
    }
  }
  .header__bottom {
    padding-top: 20px;
  }
  .header__bottom-text {
    padding-right: 100px;
  }
  .buy-button {
    right: 50px;
  }
  .header__bottom-logo {
    a svg {
      width: 220px;
    }
  }
}
@media screen and (max-width: 740px) {
  .header {
    padding: 0 10px;
  }
  .buy-button {
    right: 20px;
    top: -52px;
    font-size: 12px;
  }
  .buy-button__circle-text--bottom {
    left: 1.8em;
    top: -0.5em;
  }
  .buy-button__circle-text--top {
    left: 1.8em;
    top: -0.5em;
  }
  .header__mobile-menu-toggle svg {
    width: 21px;
  }
  .header__bottom-logo {
    a svg {
      width: 145px;
    }
  }
  .header__bottom {
    padding-top: 10px;
    padding-bottom: 7px;
    padding-right: 83px;
  }
  .header__bottom-text {
    padding-right: 70px;
  }
  .header__lang-switch {
    margin-left: 10px;
  }
  .header-mobile-menu {
    padding: 15px 10px;
    height: calc(100vh - 96px);
  }
}
@media screen and (max-width: 600px) {
  .header__bottom {
    padding-right: 0;
  }
  .header__social {
    display: none;
  }
  .header__lang-switch--mobile {
    display: block;
  }
  .header-mobile-menu__social {
    display: flex;
  }
  .header__bottom-logo {
    width: 100%;
    justify-content: center;
  }
  .header__mobile-menu-toggle {
    position: absolute;
    left: 0;
    top: 8px;
  }

  .header-mobile-menu .header-mobile-menu__nav li {
    width: 100%;
  }
  .header {
    &__top {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      video {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 30vw;
      }
    }
    .order-unset {
      order: inherit;
    }
  }
  .header--mobile-open .header-mobile-menu--open-icon {
    transform: translateY(4px);
  }

  .header-mobile-menu .header-mobile-menu__nav {
    max-height: 100%;
    overflow-y: auto;
    margin-bottom: 16px;
  }
  .header-mobile-menu__social {
    margin-top: auto;
    padding-top: 20px;
    height: 100px;
    align-items: baseline;
  }
  .header-mobile-menu__social:after {
    display: none;
  }
  .header-mobile-menu {
    display: flex;
    flex-direction: column;
  }
  .header__bottom-text p {
    animation: scrollingTextMobile 120s linear infinite;
  }
}
